<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
          <div id="chartdivLine" [style.width.%]="100" [style.height.px]="350"></div>
      </div>
      <div class="col-sm-3">
          <div id="chartdivMap" [style.width.%]="100" [style.height.px]="350"></div>
      </div>
      <div class="col-sm-1" id="infos">
        {{ stat }}
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
            <div id="chartdivPie1" [style.width.%]="90" [style.height.px]="350"></div>
          </div>
        <div class="col-sm-2">
            <div id="chartdivPie2" [style.width.%]="90" [style.height.px]="350"></div>
        </div>
        <div class="col-sm-2">
            <div id="chartdivPie3" [style.width.%]="90" [style.height.px]="350"></div>
        </div>
        <div class="col-sm-6">
            <div id="chartdivBar" [style.width.%]="90" [style.height.px]="350"></div>
          </div>
      </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-4">
    <div class="table-responsive">
      <div><h5><b>Liste des 10 Département les plus douteux</b></h5></div>
      <table class="table">
        <tr>
            <th>ID</th>
            <th>Departement</th>
            <th>Score</th>
        </tr>
        <tr *ngFor="let item of listeTopHitValueDepartment; let i = index;">
            <td>{{ i+1 }}</td>
            <td>{{ item.key }}</td>
            <td>{{ item.value }} %</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="table-responsive">
      <div><h5><b>Liste des 10 clients les plus douteux</b></h5></div>
      <table class="table">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Département</th>
        </tr>
        <tr *ngFor="let item of listeTopHitValueClient">
            <td>{{ item.ID }}</td>
            <td>{{ item.Email }}</td>
            <td>{{ item.Tel }}</td>
            <td>{{ item.Adresse }}</td>
            <td>{{ item.Department }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>